

<div class="content">
    <h1 style="text-align: center">Predict the chances of living</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="number" name="pclass" id="pclass" placeholder="Pclass">
            <input type="number" name="parch" id="parch" placeholder="Parch">
            <input type="number" name="age" id="age" placeholder="Age">
            <input type="number" name="sibsp" id="sibsp" placeholder="Sib/sp">
            <input type="number" name="fare" id="fare" placeholder="Fare">
            <input type="number" name="gender" id="gender" placeholder="1 for male/ 0 for female">
            <input type="number" name="q" id="q" placeholder="Queenstown">
            <input type="number" name="s" id="s" placeholder="Southampton" step="any">

</select>
            <input type="submit" value="Predict">
        </form>
    </div>
</div>

